<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs')%>

<h2>Combos Index</h2>

<button onClick="location=href='../new2'" type="button">Add A Combination</button>
 <div>
   <% for(let i = 0; i < lessons.length; i++) { %>
        <a href="/lessons/<%= lessons[i]._id%>"><%= lessons[i].comboName %></a> 
        <br />
         <%= lessons[i].date %><br />
    <% } %>
</div> 
</body>
</html>