<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head.ejs') %>

 <body>
    <%- include('../partials/header.ejs')%>
    <div>
    <button onClick='location=href="./new"' type=""button>New Combination</button>
    <button onClick="location=href='../'" type="button">Back</button>
</div>
<h2> Combinations</h2> 
    
    <div id="formDiv">
         <% for(let i = 0; i < lessons.length; i++) { %>
            <a href="/lessons/<%=lessons[i]._id%>"><%= lessons[i].combo, lessons[i].combo, lessons[i].discription %></a> 
            <br />
             <!-- <%= //lessons[i].track %><br />
             <%= //lessons[i].combo %><br />
             <%= //lessons[i].discription %><br /> -->
        <% } %>
    </div> 

</body>
</html>