<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head.ejs') %>

 <body>
    <%- include('../partials/header.ejs')%>
    <h1> Hello Index </h1>
</body>
 <div>
        <% for(let i = 0; i < combos.length; i++) { %>
        
            <a href="/combos/<%= combos[i]._id %>"><%= combos[i].lesson %></a>
        <%=combos[i].date%> <br />
        
        <% } %>
    </div> 
</html>